<div>
  <% @text_post.each do |textpost| %>
    <%= div_for textpost do %>
      ..............
      ..............
      <p>
        <%= link_to "Show", text_post_path(textpost) %> |
      </p>
    <% end %>
  <% end %>
</div>