<div>
  <% @text_posts.each do |textpost| %>
    <%= div_for textpost do %>
      <p>
        <%= textpost.post %>
      </p>
      <p>
        <%= link_to "Show", text_post_path(textpost) %>
      </p>
    <% end %>
  <% end %>
</div>